* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
  width: 320px;
}

.panel {
  padding: 5px;
}

.cell {
  width: 70px;
  height: 70px;
  margin: 5px;
  cursor: pointer;
  border: none;
}

.table {
  width: 320px;
  height: 320px;
  
}

.diamond {
  background: url('./assets/diamond.svg');
}

.eye {
  background: url('./assets/eye.svg');
}

.hand {
  background: url('./assets/hand.svg');
}

.home {
  background: url('./assets/home.svg');
}

.magnet {
  background: url('./assets/magnet.svg');
}

.speaker {
  background: url('./assets/speaker.svg');
}

.speed {
  background: url('./assets/speed.svg');
}

.unlocked {
  background: url('./assets/unlocked.svg');
}